<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Hackathon_ProductDnD>
            <version>0.1.0</version>
        </Hackathon_ProductDnD>
    </modules>

    <global>
        <models>
            <hackathon_productdnd>
                <class>Hackathon_ProductDnD_Model</class>
            </hackathon_productdnd>
        </models>
        <blocks>
            <hackathon_productdnd>
                <class>Hackathon_ProductDnD_Block</class>
            </hackathon_productdnd>
        </blocks>
        <helpers>
            <hackathon_productdnd>
                <class>Hackathon_ProductDnD_Helper</class>
            </hackathon_productdnd>
        </helpers>
    </global>
    <frontend>
        <routers>
            <productdnd>
                <use>standard</use>
                <args>
                    <module>Hackathon_ProductDnD</module>
                    <frontName>productdnd</frontName>
                </args>
            </productdnd>
        </routers>
        <translate>
            <modules>
                <Hackathon_ProductDnD>
                    <files>
                        <default>Hackathon_ProductDnD.csv</default>
                    </files>
                </Hackathon_ProductDnD>
            </modules>
        </translate>
        <layout>
            <updates>
                <hackathon_productdnd>
                    <file>hackathon/productdnd.xml</file>
                </hackathon_productdnd>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <hackathon_productdnd_addActivationLayoutHandles>
                        <class>hackathon_productdnd/observer</class>
                        <method>addActivationLayoutHandles</method>
                    </hackathon_productdnd_addActivationLayoutHandles>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <hackathon_productdnd before="Mage_Adminhtml">Hackathon_ProductDnD_Adminhtml</hackathon_productdnd>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>        
    <adminhtml>
        <layout>
            <updates>
                <hackathon_productdnd>
                    <file>hackathon/productdnd.xml</file>
                </hackathon_productdnd>
            </updates>
        </layout>
        <events>
	        <category_prepare_ajax_response>
	            <observers>
	                <hackathon_productdnd_addSortableScript>
	                    <class>hackathon_productdnd/observer</class>
	                    <method>addSortableScriptOnEdit</method>
	                </hackathon_productdnd_addSortableScript>
	            </observers>
	        </category_prepare_ajax_response>
            <controller_action_postdispatch_adminhtml_catalog_category_grid>
                <observers>
                    <hackathon_productdnd_addSortableScript>
                        <class>hackathon_productdnd/observer</class>
                        <method>addSortableScriptOnGrid</method>
                    </hackathon_productdnd_addSortableScript>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_category_grid>
	    </events>
    </adminhtml>
</config>
