<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Hackathon_ProductDnD>
            <version>0.1.0</version>
        </Hackathon_ProductDnD>
    </modules>

    <global>
        <models>
            <hackathon_productdnd>
                <class>Hackathon_ProductDnD_Model</class>
            </hackathon_productdnd>
        </models>
        <helpers>
            <hackathon_productdnd>
                <class>Hackathon_ProductDnD_Helper</class>
            </hackathon_productdnd>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <factfinder>
                    <file>hackathon/productdnd.xml</file>
                </factfinder>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <hackathon_productdnd_addActivationLayoutHandles>
                        <class>hackathon_productdnd/observer</class>
                        <method>addActivationLayoutHandles</method>
                    </hackathon_productdnd_addActivationLayoutHandles>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <hackathon_productdnd before="Mage_Adminhtml">Hackathon_ProductsDnD_Adminhtml</hackathon_productdnd>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <hackathon_productdnd>
                    <file>hackathon/productdnd.xml</file>
                </hackathon_productdnd>
            </updates>
        </layout>
    </adminhtml>
</config>
