.dnd-item:hover {
    -moz-box-shadow:    inset 0 0 5px #cecece;
    -webkit-box-shadow: inset 0 0 5px #cecece;
    box-shadow:         inset 0 0 5px #cecece;
}

.dnd-active-drag {
    -moz-box-shadow:    inset 0 0 5px #ce0000 !important;
    -webkit-box-shadow: inset 0 0 5px #ce0000 !important;
    box-shadow:         inset 0 0 5px #ce0000 !important;
}

body.productdnd-enabled {
    margin-top: 30px !important;
}

.productdnd-hint {
    background-color: #FDFAA4;
    color: #ce0000;
    font-weight: bold;
    padding: 5px 0;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 20px;
    text-align: center;
}